= form_for @authorization do |f|
  -if @authorization.errors.any?
    #error_explanation
      %h2= "#{pluralize(@authorization.errors.count, "error")} prohibited this authorization from being saved:"
      %ul
        - @authorization.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
