!!! 5
%html
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html; charset=utf-8"}
    %link{:href => 'http://fonts.googleapis.com/css?family=Gloria+Hallelujah|Coustard:900|Ultra|Cherry+Cream+Soda|Philosopher', :rel => 'stylesheet', :type => 'text/css'}
    = wicked_pdf_stylesheet_link_tag 'pdf'
    = wicked_pdf_javascript_include_tag 'pdf'

    %link{:rel => "stylesheet/less", :href => "/books/#{@page.book.id}/pages/#{@page.id}/print.less"}


    %script{:type => "text/javascript", :src => "http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default"}
    %script{:type => "text/x-mathjax-config"}
      MathJax.Hub.Config({
      tex2jax: {
      inlineMath: [['\\(', '\\)']],
      processEscapes: true
      }
      });

    :javascript
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }

      device = 'print'

  %body{:onload => "number_pages()"}
    = yield
